### Continuous Assessment 1_Semestre 2
### Clelia Caetano 2023060

### Deep Learning using Big Data
#### Objectives:

In [1]:
# sc master - running locally
sc.master

'local[*]'

In [2]:
# !pip install pandas

In [3]:
# !pip install seaborn

In [4]:
# Load the libraries
import os
import pandas as pd
import seaborn as sns
import numpy as np
from pyspark import SparkContext
from pyspark.sql.types import *
from pyspark.ml import Pipeline
from pyspark.sql import functions as f
from pyspark.sql.functions import udf, StringType
from pyspark.sql import SparkSession, functions as F
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.classification import MultilayerPerceptronClassifier
from pyspark.ml.feature import OneHotEncoder, VectorAssembler, StringIndexer

import warnings
warnings.filterwarnings("ignore")

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

### Initialize Spark Session

In [5]:
spark = SparkSession.builder.appName('movies').getOrCreate()

### Read the Dataset

In [6]:
# Load the data.csv into hadoop in the named folder 'Desktop'
data = spark.read.csv("file:////home/hduser/Desktop/CA1_SEM2/ml-latest/movies.csv", header=True, inferSchema=True)

In [7]:
# Display the structure of schema
data.printSchema()

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

In [8]:
# Load the data.csv into hadoop in the named folder 'Desktop'
data1 = spark.read.csv("file:////home/hduser/Desktop/CA1_SEM2/ml-latest/ratings.csv", header=True, inferSchema=True)

In [9]:
# Display the structure of schema
data1.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

### Exploratory Data Analysis (EDA)

In [10]:
# Display the row of the dataset.
data.head()

Row(movieId=1, title='Toy Story (1995)', genres='Adventure|Animation|Children|Comedy|Fantasy')

In [11]:
# Check the size of the data
data_size = data.count()
print(f"The size of the dataset is: {data_size} rows")

The size of the dataset is: 86537 rows

In [12]:
data1.describe().show()

+-------+------------------+------------------+------------------+--------------------+
|summary|            userId|           movieId|            rating|           timestamp|
+-------+------------------+------------------+------------------+--------------------+
|  count|          33832162|          33832162|          33832162|            33832162|
|   mean|165437.98388956048|28313.483493812782|  3.54254040873888|1.2693616767357209E9|
| stddev| 95341.22288520889| 49928.65092773949|1.0639586178664766|2.5410231736548245E8|
|    min|                 1|                 1|               0.5|           789652004|
|    max|            330975|            288983|               5.0|          1689843213|
+-------+------------------+------------------+------------------+--------------------+

In [13]:
column_names = data.columns
print("Column Names:", column_names)

Column Names: ['movieId', 'title', 'genres']

In [14]:
# Display the row of the dataset.
data1.head()

Row(userId=1, movieId=1, rating=4.0, timestamp=1225734739)

In [15]:
# Check the size of the data
data1_size = data1.count()
print(f"The size of the dataset is: {data_size} rows")

The size of the dataset is: 86537 rows

In [16]:
data1.describe().show()

+-------+------------------+------------------+------------------+--------------------+
|summary|            userId|           movieId|            rating|           timestamp|
+-------+------------------+------------------+------------------+--------------------+
|  count|          33832162|          33832162|          33832162|            33832162|
|   mean|165437.98388956048|28313.483493812782|  3.54254040873888|1.2693616767357209E9|
| stddev| 95341.22288520889| 49928.65092773949|1.0639586178664766|2.5410231736548245E8|
|    min|                 1|                 1|               0.5|           789652004|
|    max|            330975|            288983|               5.0|          1689843213|
+-------+------------------+------------------+------------------+--------------------+

In [17]:
# Check column names
column_names = data1.columns
print("Column Names:", column_names)

Column Names: ['userId', 'movieId', 'rating', 'timestamp']

### Missing Values

In [18]:
missing_values = data.select([F.col(c).isNull().alias(c) for c in data.columns])

# Show the DataFrame with missing value indicators
missing_values.show()

+-------+-----+------+
|movieId|title|genres|
+-------+-----+------+
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
|  false|false| false|
+-------+-----+------+
only showing top 20 rows

In [19]:
missing_values = data1.select([F.col(c).isNull().alias(c) for c in data1.columns])

# Show the DataFrame with missing value indicators
missing_values.show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
| false|  false| false|    false|
+------+-------+------+---------+
only showing top 20 rows

In [20]:
# Drop columns that are duplicates and other irrelevant data information.
data1 = data1.drop('timestamp')

In [21]:
# Import the necessary functions from pyspark.sql module
from pyspark.sql.functions import col

# Rename the columns in data1 to avoid conflicts when merging
data1 = data1.withColumnRenamed('userId', 'userId1').withColumnRenamed('rating', 'rating1')

# Merge data1[['movieId', 'userId', 'rating']] into data based on the 'movieId' column
df = data.join(data1.select('movieId', 'userId1', 'rating1'), on='movieId', how='inner')

# Display the resulting merged DataFrame
df.show()

+-------+--------------------+--------------------+-------+-------+
|movieId|               title|              genres|userId1|rating1|
+-------+--------------------+--------------------+-------+-------+
|      1|    Toy Story (1995)|Adventure|Animati...|      1|    4.0|
|    110|   Braveheart (1995)|    Action|Drama|War|      1|    4.0|
|    158|       Casper (1995)|  Adventure|Children|      1|    4.0|
|    260|Star Wars: Episod...|Action|Adventure|...|      1|    4.5|
|    356| Forrest Gump (1994)|Comedy|Drama|Roma...|      1|    5.0|
|    381|When a Man Loves ...|       Drama|Romance|      1|    3.5|
|    596|    Pinocchio (1940)|Animation|Childre...|      1|    4.0|
|   1036|     Die Hard (1988)|Action|Crime|Thri...|      1|    5.0|
|   1049|Ghost and the Dar...|    Action|Adventure|      1|    3.0|
|   1066|Shall We Dance (1...|Comedy|Musical|Ro...|      1|    4.0|
|   1196|Star Wars: Episod...|Action|Adventure|...|      1|    3.5|
|   1200|       Aliens (1986)|Action|Adventure|...|      1|    3.5|
|   1210|Star Wars: Episod...|Action|Adventure|...|      1|    4.5|
|   1214|        Alien (1979)|       Horror|Sci-Fi|      1|    4.0|
|   1291|Indiana Jones and...|    Action|Adventure|      1|    5.0|
|   1293|       Gandhi (1982)|               Drama|      1|    2.0|
|   1376|Star Trek IV: The...|Adventure|Comedy|...|      1|    3.0|
|   1396|     Sneakers (1992)|Action|Comedy|Cri...|      1|    3.0|
|   1537|Shall We Dance? (...|Comedy|Drama|Romance|      1|    4.0|
|   1909|X-Files: Fight th...|Action|Crime|Myst...|      1|    3.0|
+-------+--------------------+--------------------+-------+-------+
only showing top 20 rows

In [22]:
# Count the number of records
df.count()

33832162

In [23]:
# Number of columns
len(df.columns)

5

In [24]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("ColumnCheck").getOrCreate()

# Print the schema, which includes column names and data types
df.printSchema()

# Get the column names as a list
column_names = df.columns

# Display the column names
print("Column Names:", column_names)

root
 |-- movieId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- userId1: integer (nullable = true)
 |-- rating1: double (nullable = true)

Column Names: ['movieId', 'title', 'genres', 'userId1', 'rating1']

In [25]:
from pyspark.sql.functions import count

# Get the list of column names
column_names = df.columns

# Loop through the columns and check the count of unique values for each
for column_name in column_names:
    # Check unique values
    unique_values = df.select(column_name).distinct()
    
    # Count the unique values
    count_values = unique_values.count()
    
    # Display the count of unique values for each column
    print(f"Count of Unique Values in '{column_name}': {count_values}")

Count of Unique Values in 'movieId': 83239

Count of Unique Values in 'title': 83043

Count of Unique Values in 'genres': 1780

Count of Unique Values in 'userId1': 330975

Count of Unique Values in 'rating1': 10

In [ ]:
# Count the unique values in the 'rating1' column
rating1_counts = df.select("rating1").distinct().count()

# Print the unique values count
print("Unique values count in 'rating1':", rating1_counts)

# Collect and print the unique values
unique_values = df.select("rating1").distinct().rdd.flatMap(lambda x: x).collect()
print("Unique values in 'rating1':", unique_values)

### Multivariate analysis (Correlation between Features)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import corr

# Create a Spark session
spark = SparkSession.builder.appName("CorrelationExample").getOrCreate()

# Select numeric columns
numeric_columns = [col for col, dtype in df.dtypes if dtype != 'string']

# Calculate correlations for each pair of numeric columns
correlation_matrix = {}
for i in range(len(numeric_columns)):
    col1 = numeric_columns[i]
    for j in range(i + 1, len(numeric_columns)):
        col2 = numeric_columns[j]
        corr_value = df.select(corr(col1, col2)).collect()[0][0]
        correlation_matrix[(col1, col2)] = corr_value

# Print the correlation matrix
for (col1, col2), corr_value in correlation_matrix.items():
    print(f"Correlation between {col1} and {col2}: {corr_value}")

In [ ]:
# Create a Pandas DataFrame from the correlation matrix
correlation_df = pd.DataFrame(correlation_matrix, columns=numeric_columns, index=numeric_columns)

# Handle missing values by filling them with 0 (you can choose another strategy)
correlation_df.fillna(0, inplace=True)

# Create a heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_df, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap')
plt.show()

In [31]:
# Another way to check correlation matrix
# Create a scatter plot matrix using pairplot
sns.pairplot(data=df, palette='Set1')

TypeError: 'data' must be pandas DataFrame object, not: <class 'pyspark.sql.dataframe.DataFrame'>

### Outliers

In [31]:
# data
user_ids = df["userId"] rating = df["rating"]

# Create a figure with two subplots
fig, axs = plt.subplots(1, 2, figsize=(12, 6))

# Create box plots for 'userId' and 'rating'
axs[0].boxplot(user_ids, vert=False) axs[0].set_title("Box Plot for 'userId'") axs[0].set_xlabel("userId")

axs[1].boxplot(rating, vert=False) axs[1].set_title("Box Plot for 'rating'") axs[1].set_xlabel("rating")

# Adjust spacing
plt.tight_layout()

# Show plot
plt.show()

SyntaxError: invalid syntax (747781952.py, line 2)

### Note: If apply Winzorization and reduce the impact of extreme outliers will be a Loss of Information

### Descriptive Statistics

In [32]:
# Check the size of tha DataFrame (rows and columns)
df.shape

AttributeError: 'DataFrame' object has no attribute 'shape'

In [33]:
# Check the DataFrame from the first 5 rows after merged datasets
df.head()

Row(movieId=1, title='Toy Story (1995)', genres='Adventure|Animation|Children|Comedy|Fantasy', userId1=1, rating1=4.0)

In [34]:
# Compute and interpret the mean, median, quartiles and standard deviation of the dataset¶
df.describe().round(2)

AttributeError: 'DataFrame' object has no attribute 'round'

In [ ]:
# Show the distribution of a variable through its quartiles; after to identify outliers and to compare distributions
plt.figure(figsize=(8, 6)) # set figure size sns.boxplot(x='rating', y='userId', data=df, palette='Set1') # determine x, y & palette colour.

# Set x and y labels and title
plt.xlabel('rating') plt.ylabel('userId') plt.title('Boxplot of rating by userId') plt.xticks(rotation=75) # rotates the x-axis labels by 75 degrees, because the labels are too long to fit horizontally. plt.subplots_adjust(bottom=0.2)

### Visualization

In [ ]:
# Check the categorical variable, count the number of columns, numbers of unique values, the most frequently value &¶
# the frequency of the top value.
df.describe(include=object)

In [ ]:
# Create an interactive histogram to visualize the distribution of movie ratings
# Extract the 'rating' column
ratings = df['rating']

# Define a custom color mapping for each rating value
rating_color_mapping = { 0.5: 'magenta', 1.0: 'pink', 1.5: 'yellow', 2.0: 'green', 2.5: 'purple', 3.0: 'dark green', 3.5: 'cyan', 4.0: 'blue', 4.5: 'orange', 5.0: 'red' }

# Map the colors to the ratings column
colors = ratings.map(rating_color_mapping)

# Create an interactive histogram with custom colors
fig = px.histogram(ratings, x='rating', title='Distribution of Movie Ratings', color=colors) fig.update_xaxes(title_text='Rating') fig.update_yaxes(title_text='Count') fig.show()

### Feature Engineering

In [35]:
# Create a Spark session
spark = SparkSession.builder.appName("SetIndexExample").getOrCreate()

# Assuming 'df' is your DataFrame
# Select 'movieId' column and set it as the index
df_with_index = df.select('movieId').distinct()

# Show the DataFrame with the 'movieId' column as the index
df_with_index.show()

+-------+
|movieId|
+-------+
|   1959|
|   1591|
|   1580|
|   1645|
|  44022|
|   3175|
|  32460|
| 280218|
|    148|
|    471|
|   8638|
|  96488|
|    496|
|   1088|
|   2366|
|   3918|
|   1342|
|  54190|
|   7833|
|  31983|
+-------+
only showing top 20 rows

In [ ]:
# Find the average rating for each movie
mean_ratings = df.groupby('movieId')['rating'].mean().reset_index(name='mean_rating')

# Round the 'mean_rating' column to the nearest 0.5
mean_ratings['mean_rating'] = (mean_ratings['mean_rating'] * 2).round() / 2

# Display the resulting DataFrame
print(mean_ratings)

In [ ]:
# Define a custom color mapping for each rating value
rating_colors = { 0.5: 'magenta', 1.0: 'pink', 1.5: 'yellow', 2.0: 'green', 2.5: 'purple', 3.0: 'darkgreen', 3.5: 'cyan', 4.0: 'blue', 4.5: 'orange', 5.0: 'red' }

# Count the number of movies for each mean rating
rating_counts = mean_ratings['mean_rating'].value_counts().reset_index() rating_counts.columns = ['mean_rating', 'count']

# Sort the rating_counts DataFrame by mean_rating in descending order
rating_counts = rating_counts.sort_values(by='mean_rating', ascending=False)

# Create a bar plot with custom colors based on mean_rating
plt.figure(figsize=(12, 6)) bars = plt.bar(rating_counts['mean_rating'], rating_counts['count'], color=[rating_colors[rating] for rating in rating_counts['mean_rating']]) plt.xlabel('Mean Rating') plt.ylabel('Count') plt.title('Count of Movies for Each Mean Rating') plt.xticks(rotation=45)

# Create custom legend for rating colors
legend_labels = [plt.Line2D([0], [0], color=rating_colors[rating], label=f'{rating}', marker='o', markersize=8) for rating in rating_colors.keys()] plt.legend(handles=legend_labels, title="Rating")

# Show plot
plt.tight_layout() plt.show()

In [ ]:
# Group by 'movieId' and aggregate the 'rating' column while selecting the first value for other columns
grouped_df = df.groupby('movieId').agg({'rating': 'mean', 'title': 'first', 'genres': 'first', 'userId': 'first'}).reset_index()

# Rename the 'rating' column to 'mean_rating'
grouped_df.rename(columns={'rating': 'mean_rating'}, inplace=True)

# Round the 'mean_rating' column to one decimal place
grouped_df['mean_rating'] = grouped_df['mean_rating'].round(1)

# Display the resulting DataFrame
print(grouped_df)

### Normal Distribution (Kurtosis Test)

In [ ]:
#
columns_to_test = ['userId', 'rating', 'mean_rating']

column_names = [] # Initialize an empty list to store column names kurtosis_values = [] # Initialize an empty list to store kurtosis values

for column in columns_to_test: kurtosis_result = stats.kurtosis(df[column], nan_policy='omit') column_names.append(column) kurtosis_values.append(kurtosis_result) print(f"Kurtosis Test for '{column}':") print(f"Kurtosis statistic: {kurtosis_result}") if kurtosis_result < 0.05: print(f"The data in column '{column}' does not follow a normal distribution.") else: print(f"The data in column '{column}' follows a normal distribution.") print("-" * 50)

In [ ]:
columns_to_test = ['userId', 'rating', 'mean_rating']

# Create subplots with two side-by-side boxes
fig, axes = plt.subplots(1, 2, figsize=(14, 6))

for i, column in enumerate(columns_to_test): kurtosis_result = stats.kurtosis(df[column], nan_policy='omit') column_name = column

# Calculate mean and standard deviation for the normal distribution curve
mean = np.mean(df[column])
std_dev = np.std(df[column])

# Create a range of values for the x-axis
x = np.linspace(mean - 3 * std_dev, mean + 3 * std_dev, 100)

# Calculate the corresponding probability density function (PDF) values
pdf = stats.norm.pdf(x, mean, std_dev)

# Plot the histogram with the overlayed normal distribution curve
axes[i].hist(df[column], bins=20, density=True, alpha=0.6, color='blue', label='Histogram')
axes[i].plot(x, pdf, color='red', linestyle='--', label='Normal Distribution')
axes[i].set_title(f'Kurtosis Test for {column_name}')
axes[i].set_xlabel(column_name)
axes[i].set_ylabel('Frequency')
axes[i].legend()
plt.tight_layout() plt.show()

### Applying Log Transformation to distribute the data better

In [ ]:
#
column_to_transform = 'userId'

# Apply the natural logarithm function to the 'userId' column
df['log_' + column_to_transform] = np.log(df[column_to_transform] + 1)

# Create a subplot
fig, ax = plt.subplots(figsize=(8, 6))

# Plot the histogram of the log-transformed variable
# Add the kernel density estimate (KDE) curve
sns.histplot(data=df, x='log_' + column_to_transform, kde=True, ax=ax) ax.set_xlabel('Log(' + column_to_transform + ')') ax.set_ylabel('Value') ax.set_title('Histogram: Log(' + column_to_transform + ')')

# Adjust spacing and layout¶
plt.tight_layout()

# Show plot
plt.show()

In [ ]:
# Check the few rows of teh Data after applied log transformation
df.head()

In [ ]:
# Perform the Shapiro-Wilk test for Normality of the data
shapiro(df)

### References:
https://grouplens.org/datasets/movielens/latest/